* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

#root {
  background-color: white;

}

html {
  font-size: 62.5%;
  background-color: white;
  height: 1500px;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.4rem;
}

.MuiListItem-button {
  text-align: center;
  color: red
}
.Container.Main {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 500px;
  background-color: white;
}


.Extra {
  background-color: royalblue;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Introduction {
  background-color: red;
  padding-bottom: 500px;
  
}


.Card {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  max-width: 100%;
  flex-direction: column;
  width:150px; 
  padding: 10px;
}
.CardList {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;

}
.CardImage {
  width: 150px;
height: 150x;
object-fit: contain;
flex-shrink:2;  
}
.App {
  width: 1000px
}

.App-Main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  width: 600px;
  border-left: 1px solid black;
}

.App-Sidebar {
  width: 300px;
}



.Sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  max-width: 300px;
}

.Sidebar nav {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.Sidebar h1 {
  margin: 1rem 0;
}
.Sidebar nav nav-item {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.sidebar-subitem-text {
  font-size: 2.8rem;
}

.extra {
  padding-top: 1500px;
}

.Profile-Image-Wrap {
  padding: 20px;
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

.Profile-Image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
